__pycache__/
*.py[cod]
*.pyo
*.pyd
.vscode

.venv/
.kaggle/
env/
ENV/
venv/

.env
*.env

dbt/logs/

*.dbc
*.DBC
*.dbf
*.DBF
*.log
*.parquet
*PNS_2013.txt
*PNS_2019.txt
*.csv

latest